<!DOCTYPE html>
<html lang="en-zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎来到冉萌！</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scojs/sco.ajax.js"></script>
    <script src="/js/scojs/sco.collapse.js"></script>
    <script src="/js/scojs/sco.confirm.js"></script>
    <script src="/js/scojs/sco.countdown.js"></script>
    <script src="/js/scojs/sco.message.js"></script>
    <script src="/js/scojs/sco.modal.js"></script>
    <script src="/js/scojs/sco.panes.js"></script>
    <script src="/js/scojs/sco.tab.js"></script>
    <script src="/js/scojs/sco.tooltip.js"></script>
    <script src="/js/scojs/sco.valid.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/index/index.js"></script>
    <script src="/js/base.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/scocss/sco.message.css"/>
    <link rel="stylesheet" href="/css/scocss/scojs.css"/>
    <link rel="stylesheet" href="/css/base.css"/>
    <script type="text/javascript" src="https://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $youziku.load("body", "f157b686aaa84239ac8d824a6fab42db", "NaiYou");
        $youziku.load("#id1,.class1,h1", "f157b686aaa84239ac8d824a6fab42db", "NaiYou");
        /*．．．*/
        $youziku.draw();
    </script>
</head>
<body>
<div class="row head">
    <div class="col-md-3 home-logo"><a href="/index/showIndex"><h1>冉盟</h1></a></div>
    <div class="col-md-6"></div>
    <div class="col-md-1 mini-logo"><a href="#">登录</a></div>
    <div class="col-md-1 mini-logo"><a href="#">博客</a></div>
    <div class="col-md-1 mini-logo"><a href="#">朋友</a></div>
</div>
<div class="row body">
    <a id="message_trigger_ok" href="#">成功</a>
    <a id="message_trigger_err" href="#">错误</a>
    <a href="#" data-trigger="collapse">打开关闭</a>
    <div class="collapsible">
        在哪呢？跑哪去了。。。。
    </div>
</div>
<div class="row foot">

</div>
</body>
</html>